#   2482103 - Installation with SWPM in unattended mode using parameter input file fails
#   2393060 - SAPinst Framework 749 Central Note


SAPINST.CD.PACKAGE.LOAD                                              = {{ target_media_location }}/CD_EXPORT
SAPINST.CD.PACKAGE.CLIENT                                            = {{ target_media_location }}/sapdb2_software/db2client
SAPINST.CD.PACKAGE.RDBMS                                             = {{ target_media_location }}/sapdb2_software/db2server/LINUXX86_64
NW_Unpack.sapExeDbSar                                                = {{ target_media_location }}/download_basket
NW_Unpack.sapExeSar                                                  = {{ target_media_location }}/download_basket
archives.downloadBasket                                              = {{ target_media_location }}/download_basket

NW_CI_Instance.ascsVirtualHostname                                   = {{ sap_scs_hostname }}
NW_CI_Instance.ciInstanceNumber                                      = {{ sap_ciInstanceNumber }}
NW_CI_Instance.ciVirtualHostname                                     = {{ sap_ciVirtualHostname }}
NW_CI_Instance.scsVirtualHostname                                    = {{ sap_scs_hostname }}
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling               = true

NW_DB6_DB.db6.abap.connect.user                                      = sap{{ db_sid | lower }}
NW_DB6_DB.db6.abap.schema                                            = sap{{ db_sid | lower }}

NW_DDIC_Password.needDDICPasswords                                   = false

NW_GetMasterPassword.masterPwd                                       = {{ main_password }}

NW_checkMsgServer.abapMSPort                                         = 36{{ scs_instance_number }}
NW_getLoadType.loadType                                              = SAP

NW_getDBInfoGeneric.dbhost                                           = {{ sap_db_hostname }}
NW_getDBInfoGeneric.dbsid                                            = {{ db_sid | upper }}

# ABAP system is Unicode (true|false), only needed if it cannot be determined from the system.
NW_getUnicode.isUnicode = true

# Specify whether this system is to be a Unicode system.
NW_GetSidNoProfiles.unicode = true


NW_Delete_Sapinst_Users.removeUsers                                  = true
NW_GetSidNoProfiles.sid                                              = {{ sap_sid | upper }}

NW_SCS_Instance.ascsInstallGateway                                   = true
NW_SCS_Instance.ascsInstallWebDispatcher                             = false
NW_SCS_Instance.instanceNumber                                       = {{ scs_instance_number }}
NW_SCS_Instance.scsVirtualHostname                                   = {{ sap_scs_hostname }}

NW_getFQDN.FQDN                                                      = {{ sap_fqdn }}

# Passwords for sap and db2 users

nwUsers.db6.db2sidPassword                                           = {{ main_password }}
nwUsers.db6.sapsidPassword                                           = {{ main_password }}
nwUsers.db6.db2sidUid                                                = {{ db2sidadm_uid }}
nwUsers.db6.sapsidPassword                                           = {{ main_password }}
nwUsers.db6.sapsidUid                                                = {{ db2sapsid_uid }}
nwUsers.sidadmPassword                                               = {{ main_password }}
nwUsers.sapadmUID                                                    = {{ sapadm_uid }}
nwUsers.sapsysGID                                                    = {{ sapsys_gid }}
nwUsers.sidAdmUID                                                    = {{ sidadm_uid }}
nwUsers.sidadmPassword                                               = {{ main_password }}
NW_Users_Create.dbsid                                                = {{ db_sid | upper }}
# SAP system ID
NW_Users_Create.sid                                                  = {{ sap_sid | upper }}

# Specify whether you are preparing for an SAP sytem based on AS ABAP.
NW_Users_Create.hasABAP                                               = true

# Specify whether database users are to be installed.
NW_Users_Create.installDBUsers                                        = false


# Password for the 'sapadm' user of the SAP Host Agent
hostAgent.sapAdmPassword =  {{ main_password }}

#NW Parameters

NW_DB6_DB.db6.abap.connect.user                                      = sap{{ db_sid | lower }}
NW_DB6_DB.db6.abap.schema                                            = sap{{ db_sid | lower }}
NW_GetSidNoProfiles.sapdrive                                         = undefined

NW_getLoadType.loadType                                              = DB6BR

nw_instance_ers.ersInstanceNumber                                    = {{ ers_instance_number }}
nw_instance_ers.ersVirtualHostname                                   = {{ ers_virtual_hostname }}

NW_adaptProfile.skipSecurityProfileSettings                          = true
NW_readProfileDir.profileDir                                         = /sapmnt/{{ sap_sid | upper }}/profile
NW_readProfileDir.profilesAvailable                                  = false


#Database Parameters

db6.DB2SoftwarePath                                                 = /db2/db2{{ db_sid | upper }}/db2_software
db6.DatabaseMemory                                                  = {{ db2_memory }}
db6.TablespacePoolSizes                                             = SAPSID#DATA{20}
db6.UseStandardTablespacePool                                       = true
db6.cluster.ClusterType                                             = HADR (High Availability Disaster Recovery)
db6.createTablespacesUsingSapinst                                   = true
db6.gid_sysadm                                                      = {{ db2sysadm_gid }}
db6.gid_sysctrl                                                     = {{ db2sysctrl_gid }}
db6.gid_sysmaint                                                    = {{ db2sysmaint_gid }}
db6.gid_sysmon                                                      = {{ db2sysmon_gid }}
db6.cluster.HADRPort1                                               = {{ db2hadr_port1 }}
db6.cluster.HADRPort2                                               = {{ db2hadr_port2 }}
db6.minimizeDatabaseSizeCompression                                 = true
db6.numPathsForSapdatas                                             = 4
db6.numPathsForSaptmps                                              = 4
db6.useAutoStorage                                                  = true
db6.useExtraSapdataSaptmpDirLayout                                  = false
storageBasedCopy.db6.CommunicationPortNumber                        = 59120
storageBasedCopy.db6.PortRangeStart                                 = 59140
storageBasedCopy.db6.PortRangeEnd                                   = 59170

# Import Parameters
NW_ABAP_Import_Dialog.dbCodepage                                    = 4103
NW_ABAP_Import_Dialog.migmonJobNum                                  = 30
NW_ABAP_Import_Dialog.migmonLoadArgs                                = -stop_on_error -loadprocedure fast LOAD:COMPRESS_ALL:DEF_CRT

